body {

	font-family: 'Dancing Script', cursive;
	background: url("forma.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	/*background-size: auto;
	background-repeat: no-repeat;*/
	
	
}

h1 {

	
	margin-left: 30px;
}

main {

	gap: 2rem;
	display: grid;
	grid-template-columns: 1fr, 1fr, 50%;
	grid-template-rows: 50%, 1fr, 1fr;
	grid-template-areas: 
		"letras letras forca"
		"erro erro forca"
		"botao botao iniciar"
		;
	width: 1000px;
    height: 1000px;
    /*background-image: radial-gradient(rgba(255, 255, 255, 0.582), rgba(102, 154, 221, 0.445) 70%);
    opacity: 0.1;*/
    margin:auto;
    border-radius: 100px;
    /*
    display: inline-block;
    background-color: radial-gradient(#fff 0%, #69d 70%, transparent 70%);*/
    
}

.botoes {

	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	grid-area: botao;
	width: 30%;
	height: 30%;
	padding: 2rem;
}

.iniciar {
	grid-area: iniciar;
}

.palavras {
	grid-area: letras;
	width: 80%;
	/*height: 30%;*/
}

.erros {
	grid-area: erro;
	width: 30%;
	height: 30%;
}

.forca {
	grid-area: forca;
}

button {

	font-family: 'Dancing Script', cursive;
	border: none;
	color: #000000;
	padding: 15px;
	margin: 5px;
	line-height: 20px;
	border-radius: 6px;
	position: relative;
	background-color: #AAAAAA;
	transition: all 400ms ease;

}

button:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 50px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 6px;
	transition: all 1s ease;
}

button:hover:before {
	width: 100%;
}

.livro {
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
    width: 80%;
}
.trocar {
	width: 80px;
	height: 200px;
	text-align: center;
}

h3 {
	font-size: 45px;
	text-align: center;
}

#stick {
   
    border: 1px solid;
}

footer {
    background-color: #61524c9a;
    margin-top: 30px;
    box-shadow: inset 5px 3px 15px #000000;
    color: rgb(49, 32, 11);
    text-align: center;
    
}